<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game-Time Leaderboard</title>
</head>
<body>
  <header>
    <h1><a href="/leaderboard">Game-Time Leaderboard</a></h1>
  </header>

  <main>
      <% @team_stats.each do |team| %>
      <li>
        <span class="team-name"><%= team[:team] %></span>
        <span class="wins"><%= team[:wins] %></span>
        <span class="losses"><%= team[:losses] %></span>
      </li>
      <% end %>
  </main>
</body>
</html>
