<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game-Time Leaderboard</title>
</head>
<body>
  <header>
    <h1><a href="/leaderboard">Game-Time Leaderboard</a></h1>
  </header>

  <main>
      <%= @team_stats %>
  </main>
</body>
</html>
